:root {
  --grey-1: #222;
  --grey-2: #666;
  --grey-3: #bababa;
  --grey-6: #ccc;
  --color-red: #D5392E;
  --color-bp-green: #9ed266;

  --font-small: 12px;
  --font-normal: 15px;
  --font-cta: 16px;
  --font-header: 19px;
  --font-title: 30px;

  /* Left margin for main article content. This lines up the article
     text with the left edge of the logotype. */
  --content-left-margin: 50px;
  --content-right-margin: 46px;

  --content-left-margin-small: 46px;
}

html {
  /* Ensure footer is at bottom of screen if page content is short. */
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--font-normal);
  color: var(--grey-1);

  margin: 0;

  /* Enable footer to be positioned at bottom of page. */
  position: relative;
  /* Make space for the absolutely-positioned footer. */
  padding-bottom: 95px;
}

.header {
  background-color: black;
  min-height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-header);

  padding-left: 22px;
  padding-right: var(--content-right-margin);
}

.header__divider {
  width: 45px;
  height: 5px;
  position: relative;
  top: 3px;
}

.header-link {
  color: white;
  text-decoration: none;
  margin-left: 11px;
  margin-right: 11px;
}

.header-link:hover {
  color: var(--grey-6);
}

.search-field__icon {
  height: 22px;

  /* Align bottom of icon with search field input bottom border. */
  position: relative;
  top: 6px;
  left: -2px;
}

.search-field__input {
  background-color: rgba(0,0,0,0);
  border: none;
  color: white;
  border-bottom: 1px solid white;
  font-size: var(--font-normal);
  max-width: 130px;
}

.footer {
  background-color: black;
  color: var(--grey-3);
  font-size: var(--font-small);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  min-height: 60px;
  padding-left: var(--content-left-margin);
  padding-right: var(--content-right-margin);
  align-items: center;
}

.footer-link {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 25px;
  flex-shrink: 0;
}

.footer-link__pub {
  color: var(--color-bp-green);
}

.footer-link:hover {
  color: var(--grey-6);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
}

.logo__img {
  margin-right: 5px;
}

.logo__bio {
  color: white;
}

.logo__pub {
  color: var(--color-bp-green);
}

.article {
  margin-left: var(--content-left-margin);
  margin-right: var(--content-right-margin);
  max-width: 650px;

  font-size: var(--font-normal);
  line-height: 1.3;
}

.article-meta {
  color:  var(--grey-2);
  margin-bottom: 10px;
}

.article-text {
  line-height: 1.8;
}

.article-title {
  font-size: var(--font-title);
  color: var(--grey-2);
  margin-top: 50px;
}

.cta-button {
  border: none;
  border-radius: 4px;
  background-color: var(--color-red);
  color: white;
  font-weight: bold;
  font-size: var(--font-cta);
  padding-left: 13px;
  padding-right: 13px;
  min-height: 40px;
}

.cta-button:hover {
  filter: brightness(120%);
}

.cta-button__count:not(:empty):before {
  content: "(";
}

.cta-button__count:not(:empty):after {
  content: ")";
}

.section {
  margin-top: 30px;
  color: var(--grey-2);
  font-size: var(--font-header);
  font-weight: bold;
}

.social-icons {
  display: flex;
  flex-direction: row;
  margin-left: 46px;
}

.social-icon {
  margin-right: 20px;
  opacity: 0.8;
  transition: opacity .3s ease-in;
}

.social-icon:hover {
  opacity: 1.0;
}

.u-stretch {
  flex-grow: 1;
}

@media (max-width: 950px) {
  .article {
    margin-left: var(--content-left-margin-small);
  }

  .footer {
    padding-left: var(--content-left-margin-small);
  }
}

@media (max-width: 800px) {
  body {
    /* Give more space for the footer with vertical links. */
    padding-bottom: 300px;
  }

  .header {
    /* Stack header items vertically on smaller screens. */
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;

    /* Align left edge of headings with left edge of content. */
    padding-left: calc(var(--content-left-margin-small) - 25px);
  }

  .header-link {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  .search-field {
    margin-left: 0;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;

    padding-bottom: 15px;
  }

  .footer-link {
    font-size: var(--font-normal);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .social-icons {
    margin-left: 0;
    margin-top: 10px;
  }
}
